<div class="content">
  <div class="name">
    <h1 class="first-name">
      <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-chevron-compact-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223z"/>
      </svg>
      Natália</h1>
    <h1 class="last-name">Jordana
      <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-chevron-compact-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
      </svg>
    </h1>
  </div>
  <div class="image">
    <img src="assets/image.png" class="banner">
  </div>
  <div class="title">
    <img src="assets/brace.png" class="brace-1">
    <div class="text">
      <h1>Desenvolvedora</h1>
      <p>Front-end</p>
    </div>
    <img src="assets/brace.png" class="brace-2">
  </div>
</div>
