<div class="content">
  <div class="image">
    <img src="assets/avatar.png" class="avatar">
  </div>
  <div class="about-me">
    <h1 class="title">
      Sobre mim
    </h1>
    <p class="description">
      Meu nome é Natália Jordana, tenho 29 anos, moro em Nova Iguaçu, RJ. Sempre gostei de
      resolver problemas, por isso sempre tive interesse na área de matemática. Me graduei em
      matemática pela UFRRJ. Querendo me aprofundar mais na área, ingressei no mestrado em
      matemática pura na UFRJ, onde fui indicada a bolsa aluno nota 10 da FAPERJ. Conclui o
      mestrado em 2021 já ingressando no doutorado também na UFRJ.</p>
    <p class="description">
      Esse ano decidi me dedicar a área de tecnologia da informação, com ênfase em Front-end. Programo em JavaScript e
      estou focando em TypeScript para me tornar Dev Front-end Angular.
    </p>
  </div>
</div>
